asgiref==3.2.7
autopep8==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.5
django-cors-headers==3.2.1
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
idna==2.9
investpy==0.9.14
lxml==4.5.0
numpy==1.18.3
pandas==1.0.3
pycodestyle==2.5.0
PyJWT==1.7.1
python-dateutil==2.8.1
python-decouple==3.3
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
Unidecode==1.1.1
urllib3==1.25.9
